@font-face {
    font-family: "source-sans-pro-regular";
    src: url("Resources/source-sans-pro/SourceSansPro-Regular.otf") format("truetype");
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "source-sans-pro-regular", sans-serif, Arial, Helvetica;
}

.bg-image{
    background-image: url("Resources/images/headphones_hero_1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    height: 100vh;
    width: 100%;
}