@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');

@font-face {
    font-family: "source-sans-pro-bold";
    src: url("Resources/source-sans-pro/SourceSansPro-Bold.otf") format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: "source-sans-pro-semibold";
    src: url("Resources/source-sans-pro/SourceSansPro-Semibold.otf") format('truetype');
    font-weight: 600;
}
@font-face {
    font-family: "source-sans-pro-light";
    src: url("Resources/source-sans-pro/SourceSansPro-Light.otf") format('truetype');
    font-weight: 300;
}
@font-face {
    font-family: "source-sans-pro-extralight";
    src: url("Resources/source-sans-pro/SourceSansPro-ExtraLight.otf") format("truetype");
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: "source-sans-pro";
    src: url("Resources/source-sans-pro/SourceSansPro-Regular.otf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "source-sans-pro-italic";
    src: url("Resources/source-sans-pro/SourceSansPro-It.otf") format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "source-sans-pro-extralight-italic";
    src: url("Resources/source-sans-pro/SourceSansPro-ExtraLightIt.otf") format("truetype");
    font-weight: 50;
    font-style: italic;
}
*{
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
  font-family: "source-sans-pro", "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
  color: #fff;
  background-color: #071629;
}

.bg-image{
    background-image: url("Resources/background.png");
     background-size: cover;                   
      background-position: center;              
      background-repeat: no-repeat;
        height: 160vh;
        padding: 2rem;
        flex-direction: column;
        position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  font-family: "source-sans-pro-bold", sans-serif;
}
/* Header styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 65px;
  font-family: "source-sans-pro-semibold", sans-serif;
  font-size: 12px;
}

header a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  margin-left: 60px;
  margin-right: 20px;
}

header a:focus,
header a:hover {
  text-decoration: underline;
}

.overlay{
    color: white;
    font-family: "source-sans-pro-bold", sans-serif;
    margin-top: 8.5rem;
}

h1{
    font-size: 7.5rem;
    margin-bottom: 0;
}

h1 + .tags{
    font-size: 1rem;
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin-top: 0;
    text-transform: uppercase;
}
.teacher-pics p{
    font-family: "source-san-pro";
    font-style: italic;
}

button{
    background: #C271FF;
    color: #fff;
    border: solid 1px #C271FF;
   padding: 15px 20px;
   border-radius: 22px;
   font-size: 0.875rem;
   cursor: pointer;
   display: block;
    margin: 0 auto;
    margin-top: 1.5rem;
}


.purple{
    color: #C271FF
}

.teachers > h2{
    margin-top: 9rem;
    font-size: 2rem;
}
.teachers > h2 span:last-of-type {
 font-family: "source-sans-pro-extralight", sans-serif;
 font-weight: normal;
}

.teacher-pics{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-top: 3rem;
}

.quote{
    font-family: "source-sans-pro-light", sans-serif;
    font-size: 1.125rem;
    margin-top: 1rem;
    background-color: #C271FF;
    display: flex;
    padding: 7rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.quote p{
    text-align: left;
    font-style: normal;
    font-family: "source-sans-pro", sans-serif;
    line-height: 1.5;
    font-size: 1.375rem;
    padding-left: 3rem;
}
.quote h3{
    font-family: "source-sans-pro-bold", sans-serif;
    font-size: 1.375rem;
    margin-top: 1rem;
    text-align: left;
    padding-left: 3rem;
}
 .quote article p:last-of-type{
    font-family: "source-sans-pro-extralight-italic", sans-serif;
    font-size: 1.375rem;
    margin-top: 0.5rem;
 }

 .videos{
    background-color: white;
    color: #071629;
    padding: 6.5rem 8.5rem;  
 }

.videos h2{
        font-family: "source-sans-pro-extralight", sans-serif;
        font-size: 2rem;
        margin-bottom: 3rem;
        }

.videos h2 span:first-of-type{
    font-family: "source-sans-pro-bold", sans-serif;
}

.video-resources{
     display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: left;
    gap: 1rem;
}
.video-resources h3{
    font-family: "source-sans-pro-bold", sans-serif;
    font-size: 1rem;
    text-align: left;
    margin-top: 1rem;
    
}

.video-resources p{
    font-family: "source-sans-pro", sans-serif;
    font-size: 0.875rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    line-height: 1.5;
    text-align: left;
     color: rgba(0, 0, 0, 0.5)
}
.teacher{
    display: flex;
    flex-direction: row;
    align-items: left;
    gap: 1rem;
    color: #C271FF;
   
    
}

.ratings{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.stars i{
    color: #C271FF;
    padding: 0;
    margin: 0;
}
.stars i:last-of-type{
    color: #D8D8D8
}
.time{
    color: #C271FF;
    font-size: 0.875rem;
    font-family: "source-sans-pro-semibold", sans-serif;
}
.time p{
    color: #C271FF;
}
.membership{
    padding: 4rem 4.5rem;  
    line-height: 2rem;
   
}
.membership h2 span:first-of-type{
    font-family: "source-sans-pro-semibold", sans-serif;
}

.membership h2{
    font-family: "source-sans-pro-extralight", sans-serif;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.membership h3{
    font-family: "source-sans-pro-semibold", sans-serif;
    font-size: 18px;
    margin-bottom: 1rem;
}
.membership p{
    font-family: "source-sans-extralight", sans-serif;
    font-size: 0.875rem;
    margin-bottom: 1rem;
    line-height: 1.5;
    text-align: center;
}
.membership-benefits{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    
}

.benefit{
    padding: 3.9rem;
}

.membership button{
    margin-top: 1rem;
    padding: 15px 20px;
    font-size: 0.875rem;}

.faq{
    background-color: white;
    color: #071629;
    
}
.faq h2{
    font-family: "source-sans-pro-light", sans-serif;
    font-size: 3.75rem;
    color: #071629;
    padding-top: 3rem;
    
}

.faq h3{
    font-family: "source-sans-pro-bold", sans-serif;
    font-size: 1em;
    margin-bottom: 1rem;
    text-align: left;
}
.faq p{
    font-family: "source-sans-pro", sans-serif;
    font-size: 0.875rem;
    text-align: left;
    padding-bottom: 1rem;
    padding-right: 5rem;
     color: rgba(0, 0, 0, 0.5)
}

.faq-articles{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 3rem 8.5rem;  
    
}
.faq .row{
    padding: 3rem;
}
footer section{
    padding: 9rem 9rem 0;
}

.footer{
    display: flex;
    justify-content: space-between;
}
footer p{
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    font-size: 0.75;
    color: grey;
    font-family: "source-sans-pro";
}

.fa-brands{
    width: 30px;
    height: 30px;
    padding: 1rem;
}